ActionMailer::Base.delivery_method = :smtp
ActionMailer::Base.default :content_type => "text/html"
ActionMailer::Base.smtp_settings = {
  :user_name => "username@trantorinc.com",
  :password => "password",
  :domain => "trantorinc.com",
  :address => "smtp.rediffmailpro.com",
  :port => 587,
  :authentication => :plain,
  :enable_starttls_auto => true
}
